/*
Theme Name:         AIP Theme
Theme URI:          http://www.websolute.com/
Description:        WordPress theme developped by <a href="http://websolute.com">websolute</a>
Version:            1.1.0
Author:             websolute
Author URI:         https://wwww.websolute.com/
Text Domain:        AIP Theme  - OSDept

License:            MIT License
License URI:        http://opensource.org/licenses/MIT
*/

/* AIP DEFAULTS*/
.blu { color:#00c0ff;}
.rosa { color:#ff4666;}
.verde { color:#23ce3e;}
.arancio { color:#fd850c;}
.bgBlu { background-color:#00c0ff;}
.bgRosa { background-color:#ff4666;}
.bgVerde { background-color:#23ce3e;}
.bgArancio { background-color:#fd850c;}
a.dark:link { color:#000000; text-decoration:none;}
a.dark:active,a.dark:hover, a.dark:visited { color:#2a4b9b; text-decoration:none;}
a.light:link { color: #fff}
a.light:active,a.light:hover, a.light:visited { color:#fff; text-decoration:none;}
.wrapper { max-width:1600px; margin: 0 auto; }
.f-left { float:left}
.f-right { float:right}
footer .fa { font-size: 30px; margin: 10px;}
footer { border-top:solid 1px #bcbcbc !important }
.widgetWrapper { display:flex; align-items:center; margin-top:80px;}
.ctaWrapper { display:flex; align-items:center; margin-top:50px; margin-bottom:50px}
.footer-credits {padding-bottom:20px;}
.footerCta { border:solid 0px; color: #fff; padding:10px 20px; margin:10px; font-size:15px; border-radius: 20px 20px 20px 20px; -moz-border-radius: 20px 20px 20px 20px; -webkit-border-radius: 20px 20px 20px 20px; border: 0px solid #000000; }
.heroCat { background-color:#fff; padding:20px;}
.boxCat { text-align:center;}
.heroCatTitle { font-size:30px;}
.boxCatImg { min-height:200px;}
.graphSection { background-color: #fff;}
.graphs { margin:40px auto; display:flex; align-items:center; }
.circle { margin:40px }


.categorySection {    display:flex; align-items:center;}
.categoryBoxSection {    display:flex; align-items:center;     padding: 60px 0px 40px 0px!important; background-color:#F2F7FA}

.boxCatContainer {
    width:95%; background:#fff; -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);-moz-box-shadow:    0px 0px 30px 0px rgba(0, 0, 0, 0.4); box-shadow:         0px 0px 30px 0px rgba(0, 0, 0, 0.4);
}

.categorySection a, .categoryBoxSection a {
    text-decoration:none;
}

.client-container  img { margin:0 auto; display:flex}
.sponsor-container  img { margin:0 auto; display:flex}

.slSponsor, .slClienti { margin:40px auto; }
.section-newsletter { padding: 60px 0px; background-color: #fff; }

.newsletter-field {

    background:#fff;
    border: solid 1px #dedede;
    padding: 10px 20px;
    font-weight:300;
    margin:25px;
    border-radius: 20px 20px 20px 20px; -moz-border-radius: 20px 20px 20px 20px; -webkit-border-radius: 20px 20px 20px 20px; ;

}

.newsletter-submit {

    background:#2a4b9b;
    color: #fff;
    border: solid 0px #dedede;
    padding: 10px 40px;
    margin:25px 10px;
    border-radius: 20px 20px 20px 20px; -moz-border-radius: 20px 20px 20px 20px; -webkit-border-radius: 20px 20px 20px 20px; ;


}


/* HEADER & FOOTER DEFAULTS*/
.navbar {
    
    margin-bottom: 0px !important;
    
}

.nopad { padding: 0;}

body{font-family: 'Avenir Next', sans-serif; font-size: 16px;
			font-weight: 400;
            background-color: #EEF3FA;
}
footer, nav{font-family: 'Avenir Next', sans-serif;}
.container-fluid { max-width: 1200px;}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {font-family: 'Avenir Next', sans-serif; font-weight: 300; }

.h2{ font-size:30px; color:#000; text-transform:uppercase; text-align:center; margin-top:60px; margin-bottom:30px;}

.filetto {height:1px; width:50px; margin: 0 auto; border-bottom:solid 1px #c2c2c2;}

/* AIP TOP MENU */
.navbar-default {
    background-color: #fff;
    border: solid 0px #e7e7e7;
}
.navbar-brand {
    text-align:center;
    height: auto !important;
    padding: 15px 15px !important;
    font-size: 18px;
    line-height: 20px;
}

.caret {
    display: inline-block;
    width: 16px;
    height: 12px;
    margin-left: 4px;
    vertical-align: middle;
    border-top: 8px dashed;
    border-top: 4px solid\9;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    color: #2a4b9b;
}

@media (min-width: 768px) {
    .navbar-right {
        float: left !important;
        margin-right: -15px;
        margin-top: 40px;
    }
}

.btn-default {
    color: #333;
    /* border-color: #ccc; */
    background: none !important;
    margin-top: 40px;
    border: solid 0px #fff;
}

    .btn-default:hover {
        background: none !important;
    }

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #2a4b9b;
    background-color: #fff;
}

.fa-search {
        content: url(assets/images/search.svg) !important;
        font-size: 40px;
        border: solid 0px;
}

.navbar-default .navbar-nav>li>a {
    color: #000;
    font-size: 16px;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #2a4b9b;
    font-size: 16px;
    text-transform: uppercase;
}



.navbar-right .dropdown-menu {
    right: auto;
    left: auto;
}

.dropdown-menu {
position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 200px;
    padding: 15px 0 0 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0px solid #ccc;
    border: 0px solid rgba(0,0,0,.15);
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: url(assets/images/upCorner.png);
    background-position: center 0px;
    background-repeat: no-repeat;
}



.dropdown-menu>li>a, .dropdown-menu>li>a:hover {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #fff;
    white-space: nowrap;
    background-color: #2a4b9b;
}

    .dropdown-menu > li {
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 10px;
            background-color: #2a4b9b;
    }

    .dropdown-menu > li:first-child {
        padding-top:30px
    }

    .dropdown-menu > li:last-child {
        padding-bottom:30px
    }

@media (min-width: 1200px) {

}


@media only screen and (min-width: 768px) and (max-width: 959px) {

}


@media only screen and (max-width: 767px) {
.navbar-nav > li > a {line-height: 20px; border-right:none}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
}